<div class="container">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Quantity</th>
      </tr>
    </thead>
    <% @order_details.each do |itemKey, quantity| %>
      <% item = FoodItem.find(itemKey) %>
        <tbody>
          <tr>
            <td><%= item.name %></td>
            <td>$<%= item.priceFormatted %></td>
            <td>
              <%= link_to "+", food_item_addItem_path(item), method: :POST, class:'btn btn-default'%>
              <%= quantity %>
              <%= link_to "-", food_item_deleteItem_path(item), method: :DELETE, class:'btn btn-default'%>
            </td>
          </tr>
        </tbody>
      <% end %>
      <tbody>
        <tr>
          <td>
            $<%= @total %>
          </td>
        </tr>
      </tbody>
  </table>
</div>
