<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h1>Thank you for your order</h1>
      <hr>
      <h2>Your Order Details</h2>
      <hr>
      <p>Name: <%= @order.customer_name %></p>
      <p>Phone: <%= @order.phone %></p>
      <p>Address: <%= @order.address %></p>
      <h2>The Following Items Were Ordered</h2>
      <hr>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Quantity</th>
          </tr>
        </thead>
        <% @order.getDetails.each do |itemKey, quantity| %>
          <% item = FoodItem.find(itemKey) %>
          <tbody>
            <tr>
              <td><%= item.name %></td>
              <td><%= number_to_currency(item.price) %></td>
              <td>
                <%= quantity %>
              </td>
            </tr>
          </tbody>
      <% end %>
      </table>
      <p class="pull-right">Total: <%= number_to_currency(@total) %></p>
    </div>
  </div>
</div>
